{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: #b08ea2;
}

h1 {
    font-size: 1.25rem;
    color: #22332b;
}

h2 {
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 300px;
}

header,
footer,
footer a {
    text-align: center;
    background-color: /* */
    ;
    color: #af92a8;
}

header img {
    width: 10px;
    height: auto;
    float: right;
}

footer {
    font-size:.75rem;
}
