* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "arimo", sans-serif;
    background-color:#d8d8d8;
}

header,
nav,
main,
footer {
    
    max-width: 1500px;
    margin:auto;
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    background-color: #4c8264;
    padding:10px;
    max-width:5000px;
    margin:auto;
    text-align:center;
    height:150px;
}
   

header h1 {
    left:130px;
    font-size: 32px;
    font-family: "sorts mill goudy", serif;
    font-color: #1c2541;
   
}

header img {
    width:95%;
    margin: 15px;
    position:relative;
    border-style: solid;
    border-color:black;
  
   
    
}

header .subheading {
    left:110px;
    top:48px;
    padding:20px;
    font-size: 21px;
    font-family: "rufina", serif;
    font-color: #4c8264;
    text-align:center;
}

nav {
 text-align:center;
    margin:auto;
    color: #4c8264;
}

nav button {}

nav ul {
    list-style-type:none;
    margin: 0;
    padding 0;
    overflow:hidden;
    background-color: #4c8264
}

nav ul li {
 
    display:block;
    color:#0b132b;
}

nav ul li a {
    display:block;
    color: #0b132b;
    font-family: "arimo", sans-serif;
    text-align:center;
    padding: .75em;
    font-size:.9em;
}

nav ul li.active a {}

nav ul li a:hover {
    font-color:#4c8264

}
main{
    
    width:95%;
    
}
#sun {width:30%;
    max-width:400px; 
    float:right;
    position:rleative;
    bottom:25px;
    margin:auto;
    
    
}
.weather-summary {
    display: block;
    position:relative;
    top: 150px;
    padding: 2em;
    font-family: "arimo", sans-serif;
    clear: both;
    }

section .forecast{
    display:none;
    font-size: 32px;
    margin:auto;
    text-align:center;
    border:solid;
    position:relative;
    top:100px;
    
}
main h2 {
    text-align:center;
    font-family: "rufina", serif;
    margin: auto;
    
}

main article{
    padding:.25em;
    text-align:center;
}

main article img {
    width:85%;
    height:auto;
}

footer {
   
    }
